<%= render 'shared/wrap' %>	
<% if policy(current_user).new? %>
	
	<%= form_tag "/projects/#{@project_id}/project_features", method: :post do %>
    	<div class="row">
			<div class="3u 12u(mobilep)">
				<%= render 'features_form' %>  
  		</div>
  		<br>
  <% end %>
<% end %>