<section id="banner">
	<h2>RehabID</h2>
	<p></p>
		<ul class="points">
			<li><a href="#hard-money">Hard money loan aggregator.</a></li>
			<li><a href="#renovations">Renovation cost estimator.</a></li>
			<li><a href="#bids">Guaranteed pre-approved bids.</a></li>
		</ul>
	</p>
	<ul class="actions">
		<li><a href="#mc-embedded-subscribe-form" class="button special">Sign Up</a></li>
		<li><a href="#learn" class="button">Learn More</a></li>
	</ul>
</section>