<!DOCTYPE html>
<html>
  <head>
    <title>RehabID - Automatically identify your next rehab project.</title>
    <meta charset="utf-8">
    <meta name="description" content="RehabID - Automatically identify your next rehab project" />
    <meta name="keywords" content="rehab, fix and flip, renovations, hard money lenders, aggregator, contractors" />
    <meta name="author" content="RehabId" />

  </head>
  <!--Page Wrapper-->
    <!-- <div class="cs-page animated fadeIn"> -->
      <section class="container cs-demo">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

<!--   <body> -->

      <%= render 'shared/navbar' %>

        <%= yield %>
        </section>
    <!-- </div> -->
  </body>
</html>
